<!DOCTYPE html>
<html>
  <title>Mi porfolio</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
    <div class="mvc-top">
      <div class="mvc-bar" id="myNavbar">
        <a href="/" class="mvc-bar-item mvc-button">HOME</a>
        <a href="/about" class="mvc-bar-item mvc-button mvc-hide-small"
          ><i class="fa fa-user"></i> ABOUT</a
        >
        <a href="#portfolio" class="mvc-bar-item mvc-button mvc-hide-small"
          ><i class="fa fa-th"></i> PORTFOLIO</a
        >
      </div>
    </div>

    <div class="bgimg-1 mvc-display-container mvc-opacity-min" id="home">
      <div class="mvc-display-middle" style="white-space: nowrap">
        <span
          class="mvc-center mvc-padding-large mvc-black mvc-xlarge mvc-wide mvc-animate-opacity"
          >Nicolas Ezequiel Rey</span
        >
      </div>
    </div>

    <div class="mvc-content mvc-container mvc-padding-64" id="about">
      <h3 class="mvc-center">My Porfolio</h3>
      <p class="mvc-center"><em>Programador Web Full Stack</em></p>
      <p>
        We have created a fictional "personal" website/blog, and our fictional
        character is a hobby photographer. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="mvc-content mvc-container mvc-padding-64" id="portfolio">
      <h3 class="mvc-center">Mis Trabajos</h3>
      <p class="mvc-center">
        <em>Estos son algunos de mis Trabajos</em>
      </p>
      <br />

      <div class="mvc-container-img mvc-row-padding mvc-center">
        <div>
          <img src="images/cathedral.jpg" class="mvc-img" />
        </div>

        <div>
          <img src="images/road.jpg" class="mvc-img" />
        </div>

        <div>
          <img src="images/european.jpg" class="mvc-img" />
        </div>
        <div>
          <img src="images/bridge.jpg" class="mvc-img" />
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer
      class="mvc-center mvc-black mvc-padding-64 mvc-opacity mvc-hover-opacity-off"
    >
      <a href="#home" class=""><i class="fa fa-arrow-up mvc-margin-right">To the top</i></a>
      <div class="mvc-xlarge mvc-section">
        <a href="https://www.facebook.com/nicolas.rey.520357"><i class="fa fa-facebook-official mvc-hover-opacity"></i></a>
        <a href="http://wa.me/+5491133866202"><i class="fa fa-whatsapp mvc-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/nicolas-ezequiel-rey/"><i class="fa fa-linkedin mvc-hover-opacity"></i></a>
        <a href="https://github.com/nicorey89"><i class="fa fa-github mvc-hover-opacity"></i></a>
      </div>
    </footer>

    <script>
      // Change style of navbar on scroll
      window.onscroll = function () {
        myFunction();
      };
      function myFunction() {
        var navbar = document.getElementById("myNavbar");
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          navbar.className =
            "mvc-bar" + " mvc-card" + " mvc-animate-top" + " mvc-white";
        } else {
          navbar.className = navbar.className.replace(
            " mvc-card mvc-animate-top mvc-white",
            ""
          );
        }
      }
    </script>
  </body>
</html>
